 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.legislator-finder .input-field {
  	margin-top: 0px;
  }
.btn {
	margin-top: 10px;
}